@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* Primary colors */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* Neutral colors */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--Dark-Blue);
  line-height: 1.2;
  font-family: "Manrope", serif;
  font-size: 1.5rem;
}

.card-body {
  background-color: var(--Dark-Grayish-Blue);
  color: var(--Light-Cyan);
  /* padding: 2rem 2rem 0rem; */
  border-radius: 0.5rem;
  /* margin-top: 8rem; */
}

.id {
  font-size: 0.7rem;
  font-weight: 800;
  margin: auto;
  color: var(--Neon-Green);
}



.dice-img {
  position: relative;
  bottom: 0.6rem;
  left: 0.71rem;
  background-color: var(--Neon-Green);
}

.dice-img:hover{
  box-shadow: 0 0 20px 12px var(--Neon-Green);
  cursor: pointer;
}

.circle{
  position: relative;
  top: 2.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  background-color: var(--Neon-Green);  
}

@media (min-width: 767.98px) {
  .container {
    max-width: 50% !important;
  }

}
